entrypoint = "README.md"
modules = ["nodejs-22"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[[ports]]
localPort = 33697
externalPort = 8000

[[ports]]
localPort = 33961
externalPort = 6800

[[ports]]
localPort = 34871
externalPort = 5173

[[ports]]
localPort = 36305
externalPort = 8008

[[ports]]
localPort = 37207
externalPort = 4200

[[ports]]
localPort = 38343
externalPort = 3003

[[ports]]
localPort = 38693
externalPort = 3001

[[ports]]
localPort = 39323
externalPort = 8081

[[ports]]
localPort = 39605
externalPort = 8099

[[ports]]
localPort = 40303
externalPort = 3002

[[ports]]
localPort = 40909
externalPort = 5000

[[ports]]
localPort = 43719
externalPort = 9000

[[ports]]
localPort = 45199
externalPort = 6000

[[ports]]
localPort = 45273
externalPort = 8080

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "EAS Init"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas init"

[[workflows.workflow]]
name = "EAS Update"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas update --auto"

[[workflows.workflow]]
name = "EAS Publish Preview iOS"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform ios --profile preview"

[[workflows.workflow]]
name = "EAS Publish Preview Android"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx eas build --platform android --profile preview"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 8081
ensurePreviewReachable = "/status"

[agent]
stack = "EXPO"

[deployment]
deploymentTarget = "static"
publicDir = "static-build"
build = ["node", "scripts/build.js"]

# Expo manifest headers
[[deployment.responseHeaders]]
path = "/*"
name = "expo-protocol-version"
value = "1"

[[deployment.responseHeaders]]
path = "/*"
name = "expo-sfv-version"
value = "0"
